<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="16" android:versionName="1.1.6" package="com.shawyustudio.covid19nz" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Covid19 NZ" android:icon="@drawable/icon">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAevtmdHRqh9D3nr74cPJd6Zx5Sp36jkXE" />
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>